canvas{
  background-color: #0000;
}


html,body {
  margin:0;
  padding: 0;
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(#fff8, #fff8), url('./images/1p.png');
  background-size: 100%;
}
